/*
Theme Name: Ethertel
Author: Snapshot Interactive
Description: Custom Web Development
*/

:link,:visited{text-decoration:none}
ul,ol{list-style:none}
h1,h2,h3,h4,h5,h6,pre,code{font-size:1em}
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{margin:0;padding:0}
a img,:link img,:visited img{border:none}
address{font-style:normal}

img.alignright {float:right; margin:0 0 1em 1em; border:1px solid #000;}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
.alignright {float:right; }
.alignleft {float:left; }
.aligncenter {display: block; margin-left: auto; margin-right: auto}

.clear {
 clear: both;
}
.words ul {
	margin:0 0 20px 0;
	padding:0;
}

.words li {
	float:left;
	width:400px;
	height:350px;
	margin:10px 0 0 10px;
	padding:20px;
	background:#56CC10;
	border-radius:10px;	
	display:inline;
}
.words li:nth-child(2n+2) {
	background:#ffbb00;
}

.words li a div  {
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	-webkit-transition: all 0.5s ease-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: all 0.5s ease-out;  /* Firefox 4-15 */
	-o-transition: all 0.5s ease-out;  /* Opera 10.50–12.00 */
	transition: all 0.5s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}
.words li a:hover div  {
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
	-webkit-transition: all 0.5s ease-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: all 0.5s ease-out;  /* Firefox 4-15 */
	-o-transition: all 0.5s ease-out;  /* Opera 10.50–12.00 */
	transition: all 0.5s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}
/*------------------------------------Structure-------------------------------------------------------------- */

body {
	font-family: 'Lato', sans-serif; font-weight:400;
	background: #fff;
	color:#222;
	font-size:16px;
	line-height:20px;
}
.container {
	width:960px;
	margin:0 auto;
	padding:0;	
}
.container2 {
	width:960px;
	margin:0 auto;
	padding:0;	
}
a {
	color:inherit;
	-webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
	-o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
	transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */	
}
strong {
	color:#444;
	font-weight:normal;	
}
.employment-form {
	display:none;
}
/*------------------------------------Header-------------------------------------------------------------- */
#header {
	width:100%;
	background:url(images/header-bg2.jpg) top center no-repeat;
	height:192px;	
}
.logo {
	float:left;
	width:520px;
	margin:50px 0 0 0;
	padding:0;
}
.members {
	clear:both;
	text-align:center;
	height:auto;
	margin:10px 0 0px 0px;
	padding:0;	
	float:right;
}
.number {
	font-size:26px !important;
	color:#56CC10;
	float:left;
	margin:3px 0 0 0px;
	text-shadow: 1px 1px 0px #000;
}
p {
	font-weight:100;
	font-size:18px;
	margin:15px 0 10px 0;
	clear:both;
}
.phone {
	text-align:center;
	color:#999;
	margin:0 0 -40px 0;
	float:left;
	text-transform:uppercase;
	padding:3px 30px;
	border-radius:10px;
	background: #3e4854; /* Old browsers */
	background: -moz-linear-gradient(top, #3e4854 0%, #1a1d23 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e4854), color-stop(100%,#1a1d23)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3e4854 0%,#1a1d23 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3e4854 0%,#1a1d23 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3e4854 0%,#1a1d23 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3e4854 0%,#1a1d23 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e4854', endColorstr='#1a1d23',GradientType=0 ); /* IE6-9 */
	border-top:2px	#54606e solid;
}
.phone a {
	text-transform:none;
	font-size:14px;
}
/*------------------------------------Navigation-------------------------------------------------------------- */
#left {
	float:left;
	width:650px;
	margin:0;
	padding:0;	
}
#right {
	float:right;
	width:305px;
	margin:0;
	padding:0;	
}
#nav {
	clear:both;
	width:100%;
	background:#3e4854;
	font-size:14px;
	border-top:1px solid #1f7eea;
	height:40px;	
}
.menu ul {
	width:960px;
	float:left;	
}
.menu li {
	float:left;
	list-style:none;
	margin:-10px 8px 0 8px;
	font-weight:bold;
	padding:10px 25px 10px 25px;
	background: #3e4854; /* Old browsers */
	background: -moz-linear-gradient(top, #3e4854 0%, #1a1d23 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e4854), color-stop(100%,#1a1d23)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3e4854 0%,#1a1d23 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3e4854 0%,#1a1d23 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3e4854 0%,#1a1d23 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3e4854 0%,#1a1d23 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e4854', endColorstr='#1a1d23',GradientType=0 ); /* IE6-9 */
	border-bottom:1px	#54606e solid;	border-radius:5px;
	text-align:center;
}
.menu li a {
	color:#FFF;	
}
.menu li a:hover {
	color:#999;	
}
.menu li:last-child {
	border-right:none!important;	
}
.menu .current-menu-item a {
	color:#56CC10;	
}
.container2 li {
	font-weight:400;
	font-size:16px;
	color:#444;
	list-style:disc;
	margin:0 0 0 20px;
}
.container2 p {
	font-weight:400;
	font-size:16px;	
}
#right li {
	list-style:none;	
}
b {
	font-weight:900;	
}
/*------------------------------------Featured Are-------------------------------------------------------------- */
#featured {
	background:/*url(images/feat-bg.jpg) top center no-repeat*/ #3e4854;
	height:300px;
	width:100%;
	border-bottom:5px solid #014ea8;
	color:#bebec0;
	padding:20px 0 0 0;	
}
#featured2 {
	background:/*url(images/feat-bg.jpg) top center no-repeat*/ #3e4854;
	height:50px;
	width:100%;
	margin:0 0 60px 0;
	border-bottom:5px solid #014ea8;
	color:#bebec0;
	padding:20px 0 0 0;	
}
#featured2 h1 {
	color:#FFF;
	font-weight:100;
	font-size:32px;	
}
ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none; list-style:none; }
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;list-style:none; }
ul.bjqs-controls.v-centered li a{position:absolute; list-style:none; }
ul.bjqs-controls.v-centered li.bjqs-next a{right:-70px; margin-top:0px;   opacity:.5; color:#FFF;list-style:none; display:none;  }
ul.bjqs-controls.v-centered li.bjqs-next a:hover {color:#56CC10; opacity:1;list-style:none; display:none;  }
ul.bjqs-controls.v-centered li.bjqs-prev a{left:-70px; margin-top:0px;  opacity:.5;list-style:none; display:none;  }
ul.bjqs-controls.v-centered li.bjqs-prev a:hover {color:#56CC10; opacity:1;list-style:none; display:none;  }
ol.bjqs-markers {list-style: none; padding: 0; margin: 0; width:100%; position:absolute; top:270px; list-style:none;  }
ol.bjqs-markers.h-centered{text-align: center;list-style:none; }
ol.bjqs-markers li{display:inline; list-style:none; }
ol.bjqs-markers li a{display:inline-block; list-style:none; }
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;list-style:none; }

ul.bjqs-controls.v-centered li a {
	display:block;
	padding:10px;
	color:#FFF;
	font-family:"Helvetica Neue";
	font-weight:light;
	font-size:36px;
	text-decoration: none;
	list-style:none; 
}

ul.bjqs-controls.v-centered li a:hover{
	list-style:none; 
}

ol.bjqs-markers li a {
	margin:0 2px 0 2px;
	list-style:none; 
	height:10px; 
	width:30px; 
	border-radius:10px;
	background:#FFF;
	text-indent:-99999px;
	-moz-box-shadow:    inset 0 0 2px #000000;
   -webkit-box-shadow: inset 0 0 2px #000000;
   	box-shadow:         inset 0 0 2px #000000;
	list-style:none; 
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #56CC10;
list-style:none;
 
}
p.bjqs-caption {
	list-style:none; 
}

/*------------------------------------Homepage-------------------------------------------------------------- */
.container p {
	font-weight:400;
	font-size:16px;
}
h2 {
	font-size:21px;	
}
.hsection {
	float:left;
	margin:30px 0px 80px 0px;
	padding:0 15px 0 15px;	
	width:280px;
	border-right:1px solid #CCC;
}
.hsection:last-child {
	border-right:none !important;	
}
.hsection p {
	color:#000;
	font-weight:400;
	font-size:12px;	
}
.hsection h1 {
	color:#292f35;
	font-size:24px;
	font-weight:400;
	text-align:center;
	margin:0 0 20px 0;	
}
.learnmore {
	width:270px;
	float:left;
	height:23px;
	border-radius:5px;
	font-size:12px;
	text-align:center;
	padding:7px 0 0 0;
	margin:10px 0 0 0;
	color:#FFF;
	background: #7db9e8; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzI5ODlkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzIwN2NjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top, #7db9e8 0%, #2989d8 50%, #207cca 51%, #1e5799 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(99%,#1e5799)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7db9e8 0%,#2989d8 50%,#207cca 51%,#1e5799 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7db9e8 0%,#2989d8 50%,#207cca 51%,#1e5799 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7db9e8 0%,#2989d8 50%,#207cca 51%,#1e5799 99%); /* IE10+ */
	background: linear-gradient(to bottom, #7db9e8 0%,#2989d8 50%,#207cca 51%,#1e5799 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-8 */
	
}
#quotes {
	float:left;
	clear:both;
	margin:0 0 100px 0;
	padding:0;	
}

.testimonial p {font-size:18px; padding:10px; color:#777;}


ul.xyz{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.xyz-slide{position:absolute; display:none; }
ul.xyz-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.xyz-controls.v-centered li a{position:absolute;}
ul.xyz-controls.v-centered li.xyz-next a{right:-70px; margin-top:0px;   opacity:.5; color:#FFF; }
ul.xyz-controls.v-centered li.xyz-next a:hover {color:#56CC10; opacity:1; }
ul.xyz-controls.v-centered li.xyz-prev a{left:-70px; margin-top:0px;  opacity:.5; }
ul.xyz-controls.v-centered li.xyz-prev a:hover {color:#56CC10; opacity:1; }
ol.xyz-markers {list-style: none; padding: 0; margin: 0; width:100%; position:absolute; top:250px; z-index:9999999;  }
ol.xyz-markers.h-centered{text-align: center;}
ol.xyz-markers li{display:inline;}
ol.xyz-markers li a{display:inline-block;}
p.xyz-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}

ul.xyz-controls.v-centered li a {
	display:block;
	padding:10px;
	color:#FFF;
	font-family:"Helvetica Neue";
	font-weight:light;
	font-size:36px;
	text-decoration: none;
}

ul.xyz-controls.v-centered li a:hover{
	
}

ol.xyz-markers li a {
	margin:0 2px 0 2px;
	height:10px; 
	width:30px; 
	border-radius:10px;
	background:#FFF;
	text-indent:-99999px;
	-moz-box-shadow:    inset 0 0 2px #000000;
   -webkit-box-shadow: inset 0 0 2px #000000;
   	box-shadow:         inset 0 0 2px #000000;
	
}

ol.xyz-markers li.active-marker a,
ol.xyz-markers li a:hover{
	background: #56CC10;

}
p.xyz-caption {
	
}
ul.hello  {
	width:960px;
	background:#096;
}
.hello li {
	padding:0;
	background:#222;
	width:350px;
}




.flyer {
	position:relative;
	z-index:999;
	background:url(images/flyer.png);
	width:930px;
	height:57px;
	color:#FFF;
	padding:5px 0 0 30px;
	margin:-100px 0 80px -10px;
}
.flyer h1 {
	font-size:18px;	
}
.flyer p {
	font-size:12px;	
}
.fname {
	float:left;
	font-size:22px;
	margin:8px 5px 0 0px;	
}
.ftitle {
	float:left;
	margin:11px 0 0 0;
	color:#CCC;
}
ul {
	
}
.learn-more-content p {
	color:#777;	
	margin:5px 0 15px 0;
}
.needs li, .learn-more-content li {
	list-style:disc;
	margin:2px 0 5px 20px;
}
.learn-more-content img {
	margin:0px 10px 5px 0px;
	float:left;	
}
.heading-more {
	color:#FFF !important;
	font-size:16px !important;
	text-shadow:none !important;
	background: #7db9e8; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzI5ODlkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzIwN2NjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top, #7db9e8 0%, #2989d8 50%, #207cca 51%, #1e5799 99%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(99%,#1e5799)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7db9e8 0%,#2989d8 50%,#207cca 51%,#1e5799 99%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7db9e8 0%,#2989d8 50%,#207cca 51%,#1e5799 99%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7db9e8 0%,#2989d8 50%,#207cca 51%,#1e5799 99%) !important; /* IE10+ */
	background: linear-gradient(to bottom, #7db9e8 0%,#2989d8 50%,#207cca 51%,#1e5799 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ) !important; /* IE6-8 */
}
.c-input {
	float:left;
	width:95.4%;
	clear:both;
	height:30px;
	border:1px e8e8e8 solid;
	margin:2px 0 3px 0;
	padding:5px 0 0 10px;
	font-size:14px;
	color:#777;
}
.c-message {
	float:left;
	width:95.4%;
	height:130px;
	border:1px e8e8e8 solid;
	margin:2px 0 3px 0;	padding:5px 0 0 10px;
	font-size:14px;
	color:#777;
}
.c-drop {
	width:97%;
	font-size:14px;
	padding:5px 0 5px 0;
		
}
.c-input-small {
	float:left;
	width:46%;
	height:30px;
	border:1px e8e8e8 solid;
	margin:2px 15px 3px 0;
	padding:5px 0 0 10px;
	font-size:14px;
	color:#777;
}
label {
	float:left;
	clear:both;	
}
/*--Sidebar---*/
ul.tst{position:relative; list-style:none;padding:0;margin:0px 0 0 0;overflow:hidden; display:none;}
li.tst-slide{position:absolute; display:none; }
ul.tst-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.tst-controls.v-centered li a{position:absolute;}
ul.tst-controls.v-centered li.tst-next a{right:0px; margin-top:85px;height:20px; color:#273a43; font-size:22px;line-height:15px; width:20px; background:#e8e8e8; }
ul.tst-controls.v-centered li.tst-prev a{right:40px; margin-top:85px;height:20px; color:#273a43; font-size:26px;line-height:15px; width:20px; background:#e8e8e8; }
ol.tst-markers {list-style: none; padding: 0; margin: 0; width:100%; position:absolute; bottom:-20px; z-index:999; }
ol.tst-markers.h-centered{text-align: center;}
ol.tst-markers li{display:inline;}
ol.tst-markers li a{display:inline-block;}
p.tst-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}

ul.tst-controls.v-centered li a{
	display:block;
	padding:10px;
	color:#FFF;
	font-family:"Helvetica Neue";
	font-weight:light;
	font-size:36px;
	text-decoration: none;
}

ul.tst-controls.v-centered li a:hover{
	
}

ol.tst-markers li a {
	margin:0 2px 0px 2px;
	height:10px; 
	width:10px; 
	border-radius:10px;
	background:#FFF;
	text-indent:-99999px;
	-moz-box-shadow:    inset 0 0 2px #000000;
   -webkit-box-shadow: inset 0 0 2px #000000;
   	box-shadow:         inset 0 0 2px #000000;
	
}

ol.tst-markers li.active-marker a,
ol.tst-markers li a:hover{
	background: #56CC10;

}
p.tst-caption {
	
}


	

/*------------------------------------Footer-------------------------------------------------------------- */
#footer {
	width:100%;
	background:#e8e8e8;
	padding:0px 0 0 0;
	height:60px;
	padding:50px 0 0 0;
	color:#999;
	font-size:12px;	
}
a .ssi {
	position:relative;
	top:8px;
	left:5px;
	border:none;
	
	
}
a:hover .ssi {
	position:relative;
	top:8px;
	border:none;
	
	
}

